<template>
    <div class="hello">
        <h1>{{ message }}</h1>
        <button v-on:click="reverseMessage">Reverse</button>
    </div>
</template>

<script>
  export default {
    data: () => {
      return {
        message: 'Hello World!'
      }
    },
    methods: {
      reverseMessage: function () {
        this.message = this.message.split('').reverse().join('')
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    h3 {
        margin: 40px 0 0;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        display: inline-block;
        margin: 0 10px;
    }

    a {
        color: #42b983;
    }
</style>
