.demo {
    border: 1px solid #eee;
    border-radius: 2px;
    padding: 10px 35px;
    margin-top: 1em;
    margin-bottom: 40px;
    font-size: 1.2em;
    line-height: 1.5em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow-x: auto;
}
