<div class="container"  >
    <div class="hero-unit">
        <h1>Course Rater</h1>
        <p>Demonstrating a simple AngularJS App.</p>
    </div>
    <div class="row">
        <div class="span4">
            <p>
                <label>Rating (1-5):</label>
                <input type="text" ng-model="vm.rating"/>
            </p>
            <p>
                <label>Your Name:</label>
                <input type="text" ng-model="vm.name"/>
            </p>
            <h4> {{ vm.name }} entered: {{ vm.rating }}</h4>
            <p>
                <button class="btn btn-success" ng-click="vm.addRating()">Add</button>
            </p>
        </div>
        <div class="span8">
            <p>
            <div>
                <rating-list ratings="vm.ratings" remove="vm.removeRating"></rating-list>
            </div>
            </p>
        </div>
    </div>
</div>