body {
    padding-top: 10px;
    padding-bottom: 40px;
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.container{
    max-width: none !important;
    width: 570px;
}

.hero-unit {
    /*margin: 50px auto 0 auto;*/
    /*width: 300px;*/
    /*font-size: 18px;*/
    /*font-weight: 200;*/
    /*line-height: 30px;*/
    background-color: #eee;
    border-radius: 6px;
    padding: 10px;
}
/*.btn {*/
    /*margin-top: 10px;*/
/*}*/

a {
    display: flex;
}

li {
    line-height: 27px;
}
/*.hero-unit h1 {*/
    /*font-size: 60px;*/
    /*line-height: 1;*/
    /*letter-spacing: -1px;*/
/*}*/

/*.browsehappy {*/
    /*margin: 0.2em 0;*/
    /*background: #ccc;*/
    /*color: #000;*/
    /*padding: 0.2em 0;*/
/*}*/
